<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "Schoeman App",       root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",         root_path,        id: "tab" %></li>
        <li><%= link_to "Now",          now_path,         id: "tab" %></li>
        <li><%= link_to "Engineering",  engineering_path, id: "tab" %></li>
        <li><%= link_to "Dance",        dance_path,       id: "tab" %></li>
        <li><%= link_to "Education",    education_path,   id: "tab" %></li>
      </ul>
    </nav>
  </div>
</header>
