<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "Schoeman App",       root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",         root_path %></li>
        <li><%= link_to "Now",          now_path %></li>
        <li><%= link_to "Engineering",  engineering_path %></li>
        <li><%= link_to "Dance",        dance_path %></li>
        <li><%= link_to "Education",    education_path %></li>
      </ul>
    </nav>
  </div>
</header>
